@charset "utf-8";
.impowerBox .qrcode {
    width: 125px;
    margin-top: 15px;
    border: 1px solid #E2E2E2
}
.impowerBox .title{
    display:none;
}
.impowerBox .status p{
    color: #ffffff;
    font-size: 12px;
}
