@charset "utf-8";
body{
    margin: 0;
}
.impowerBox .qrcode {
    width: 160px;
    margin-top: 15px;
    border: 1px solid #E2E2E2
}
.impowerBox .title{
    display:none;
}
.impowerBox .status p{
    color: #ffffff;
    font-size: 12px;
}
.impowerBox .status h4{
    color: #ffffff;
    font-size: 12px;
}
.impowerBox .icon38_msg.succ{
    background: url(https://onedayof2010.github.io/test/icon_popup.png) -5px -51px no-repeat;
}
.impowerBox .icon38_msg.warn{
    background: url(https://onedayof2010.github.io/test/icon_popup.png) -5px -92px no-repeat;
}
.impowerBox .icon38_msg{
    width: 28px;
    height: 28px;
}
.impowerBox .status {
    padding: 7px 40px;
    text-align: left;
}
