@charset "utf-8";
body{
    margin: 0;
}
.impowerBox .qrcode {
    width: 125px;
    margin-top: 15px;
    border: 1px solid #E2E2E2
}
.impowerBox .title{
    display:none;
}
.impowerBox .status p{
    color: #ffffff;
    font-size: 12px;
}
.impowerBox .status h4{
    color: #ffffff;
    font-size: 12px;
}
.impowerBox .icon38_msg.succ{
    background: url(icon_popup.png) 0 -46px no-repeat;
}
